.centerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cards {
  min-width: 300px;
  max-width: 375px;
  padding: 1rem;
  box-shadow: var(--standard-box-shadow);
  border-radius: 1rem;
  margin: 2rem auto;
  height: 200px;
  transition: var(--standard-timing);
}

.cards:hover {
  scale: 1.05;
}

.ImgCards {
  border: var(--standard-border);
  box-shadow: var(--standard-box-shadow);
  border-radius: 1rem;
  width: 75px;
  height: 75px;
  margin: 0 auto 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315deg, #00d5e0, #09c38e);
}
