.centerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cards {
  min-width: 300px;
  max-width: 375px;
  padding: 1rem;
  box-shadow: var(--standard-box-shadow);
  border-radius: 1rem;
  margin: 2rem auto;
  height: 200px;
  transition: var(--standard-timing);
}

.cards:hover {
  scale: 1.05;
}

.styleCards {
  padding: 2rem;
  box-shadow: var(--standard-box-shadow);
  border-radius: 1rem;
  margin: 2rem auto;
  transition: var(--standard-timing);
  max-width: 700px;
  width: 100%;
  min-width: 350px;
}

.styleCards ul {
  list-style-type: none;
}

.styleCards ul li {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
  border: var(--standard-border);
  border-radius: 1rem;
  background: linear-gradient(315deg, #931fff, #3872e5);
  color: var(--secondary-text-color);
}

.column-list {
  columns: 125px;
  margin: auto;
  text-align: center;
}

.ImgCards {
  border: var(--standard-border);
  box-shadow: var(--standard-box-shadow);
  border-radius: 1rem;
  width: 75px;
  height: 75px;
  margin: 0 auto 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315deg, #00d5e0, #09c38e);
}

.container {
  padding: 5rem;
}

.footerDisplay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  flex: 1;
}

.footerDisplay a {
  padding: 0.25rem;
}

.vinDecoderHero {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../Image/VinDecoderHero/NissianZ.png);
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 1rem 0 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.VinCarNameSection {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  min-width: 350px;
  margin: auto;
}

.VinCarNameInformation {
  border: var(--standard-border);
  box-shadow: var(--standard-box-shadow);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 950px;
  margin: 1.5rem auto;
}

.VinCarNameInformation p {
  padding-bottom: 0.75rem;
}

.UnderConstructionBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* .UnderConstructionBackground h1 {
} */

.closureBackgroundIcon {
  width: 125px;
  height: 125px;
  border: var(--standard-border);
  box-shadow: var(--standard-box-shadow);
  transition: var(--standard-timing);
  background: linear-gradient(315deg, var(--third-gradient-color), #931fff);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.listingsBackgroundHero {
  padding: 8rem 2rem 2rem 2rem;
  border: 2px solid;
}

.formListings {
  max-width: 1200px;
  margin: auto;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.formListings div {
  display: flex;
  width: 300px;
}

.formListings div input {
  min-width: 200px;
  max-width: 400px;
}

.formListings .ImgCards {
  margin-bottom: 0;
  margin-right: 1.5rem;
}
